<ion-content class="ion-padding">

  <h1 style="text-align: center; margin-bottom: 30px">
    Iniciar Sesion
  </h1>


  <form [formGroup]="loginform" (ngSubmit)="login()">

    <ion-item>
      <ion-input
        label="Cedula"
        formControlName="cedula"
        type="text"
        required
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-input
        label="Clave"
        formControlName="clave"
        type="password"
        required
      ></ion-input>
    </ion-item>

    <ion-button type="submit" expand="block" [disabled]="!loginform.valid">
      Iniciar Sesion
    </ion-button>
  </form>

  <p>
    Ya tienes una cuenta? <a routerLink="../registro">Registrate</a>
  </p>


</ion-content>


