<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Historia
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img src="assets/images/defensa-civil.png" alt="" style="align-content: center; width: 100%; height: auto;">
    <ion-card-header>
      <ion-card-title>Origen de la Defensa Civil Dominicana:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Antes de 1966: Un grupo de radioaficionados se reunía en la Cruz Roja durante la temporada de huracanes para
        estar atentos a cualquier emergencia.</p>
      <p>1966: La Ley 257-66 crea la Oficina Nacional de Defensa Civil (ODC) con jurisdicción nacional.</p>
      <p>1970s: La Defensa Civil comienza a establecerse en las provincias del país.</p>
      <p>1980s: La ODC se convierte en un organismo adscrito a la Secretaría de Estado de las Fuerzas Armadas.</p>
      <p>1990s: La ODC participa en la respuesta a varios desastres naturales, incluyendo el huracán George en 1998.</p>
      <p>2000s: La ODC se moderniza y profesionaliza, con mayor énfasis en la capacitación y la prevención de
        desastres.</p>
      <p>2010s: La ODC participa en la respuesta al terremoto de Haití en 2010 y al huracán Matthew en 2016.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Logros de la Defensa Civil Dominicana:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>Reducción del número de víctimas mortales por desastres naturales.</li>
        <li>Mejora de la capacidad de respuesta a emergencias.</li>
        <li>Mayor conciencia pública sobre la importancia de la preparación para desastres.</li>
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Desafíos de la Defensa Civil Dominicana:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>Escasez de recursos.</li>
        <li>Necesidad de fortalecer la coordinación con otras instituciones.</li>
        <li>Falta de cobertura en algunas zonas del país.</li>
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Futuro de la Defensa Civil Dominicana:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>Continuar modernizando y profesionalizando la institución.</li>
        <li>Fortalecer la capacidad de prevención de desastres.</li>
        <li>Ampliar la cobertura a todo el territorio nacional.</li>
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Referencias:</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>Defensa Civil Dominicana website in Spanish: <a href="URL Defensa Civil Dominicana">URL Defensa Civil
          Dominicana</a></li>
        <li>Ley 257-66: <a href="URL Ley 257-66">URL Ley 257-66</a></li>
        <li>Plan Estratégico de la Defensa Civil 2019-2023: <a
          href="URL Plan Estratégico de la Defensa Civil 2019-2023">URL Plan Estratégico de la Defensa Civil
          2019-2023</a></li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
