<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Videos Educativos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let video of videos?.datos">
    <ion-card-header>
      <ion-card-subtitle>{{video.fecha}}</ion-card-subtitle>
      <ion-card-title>{{video.titulo}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="video.descripcion">{{video.descripcion}}</p>
      <ion-button expand="block" color="primary" [href]="'https://www.youtube.com/watch?v=' + video.link" target="_blank">Ver video</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
