<ion-app>
  <ion-menu contentId="main-content" type="overlay" class="ion-padding">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-list-header>Inbox</ion-list-header>
        <ion-item *ngIf="!isLogged">
          <ion-label>No estas logueado</ion-label>
          <ion-button fill="outline" slot="end" (click)="login()">Login/Registro</ion-button>
        </ion-item>

        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
          <ion-item routerDirection="root" [routerLink]="['/home'+ p.url]" lines="none" detail="false"
                    routerLinkActive="selected">
            <ion-icon aria-hidden="true" slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
            <ion-label>{{ p.title }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>

    </ion-content>
  </ion-menu>
  <ion-content id="main-content">
    <ion-router-outlet></ion-router-outlet>
  </ion-content>
</ion-app>
