<ion-content>
  <!--  id: string;-->
  <!--  nombre: string;-->
  <!--  apellido: string;-->
  <!--  correo: string;-->
  <!--  telefono: string;-->
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h1>Mi perfil</h1>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input type="text"
                   label="Nombre"
                   readonly
                   [(ngModel)]="usuario.nombre"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text"
                   label="Apellido"
                   readonly
                   [(ngModel)]="usuario.apellido"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text"
                   label="Correo"
                   readonly
                   [(ngModel)]="usuario.correo"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text"
                   label="Teléfono"
                   readonly
                   [(ngModel)]="usuario.telefono"
        ></ion-input>
      </ion-item>

      <ion-button slot="start"
                  expand="block"
                  color="primary"
                  (click)="resetPassword()">Editar perfil
      </ion-button>
      <ion-button slot="end"
                  expand="block"
                  id="present-alert"
                  color="danger">Cerrar sesión
      </ion-button>

    </ion-card-content>
  </ion-card>

</ion-content>

<ion-alert
  trigger="present-alert"
  header="Alert"
  message="¿Estás seguro que deseas cerrar sesión?"
  [buttons]="alertButtons"
></ion-alert>
