<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <h1>Mi perfil</h1>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input type="text"
                   label="Nombre"
                   readonly
                   [(ngModel)]="usuario.nombre"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text"
                   label="Apellido"
                   readonly
                   [(ngModel)]="usuario.apellido"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text"
                   label="Correo"
                   readonly
                   [(ngModel)]="usuario.correo"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text"
                   label="Teléfono"
                   readonly
                   [(ngModel)]="usuario.telefono"
        ></ion-input>
      </ion-item>

      <ion-button slot="start"
                  expand="block"
                  color="primary"
                  (click)="openModal()">Editar perfil
      </ion-button>
      <ion-button slot="end"
                  expand="block"
                  id="present-alert"
                  color="danger">Cerrar sesión
      </ion-button>

    </ion-card-content>
  </ion-card>



</ion-content>

<ion-alert
  trigger="present-alert"
  header="Alert"
  message="¿Estás seguro que deseas cerrar sesión?"
  [buttons]="alertButtons"
></ion-alert>


<ion-modal>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-button (click)="closeModal()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Cambiar contraseña</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-item>
        <ion-input type="type"
                   label="Cedula"
                   [(ngModel)]="cedula"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text"
                   label="Correo"
                   [(ngModel)]="correo"
        ></ion-input>
      </ion-item>
      <ion-item>
        <ion-input type="text"
                   label="Nueva contraseña"
                   [(ngModel)]="nuevoContrasena"
                   readonly
        ></ion-input>
      </ion-item>

      <ion-item>
        <ion-button slot="end"
                    expand="block"
                    (click)="resetPassword()">Cambiar contraseña
        </ion-button>
      </ion-item>
    </ion-content>
  </ng-template>
</ion-modal>
