.slider-container {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
}

.slide {
  flex: 0 0 auto;
  width: 100%;
  height: fit-content;
  scroll-snap-align: start;
  padding: 20px;
  box-sizing: border-box;
}

.slide img {
  width: 100%;
  height: auto;
}

.slide h2 {
  margin-top: 10px;
}

.slide p {
  margin-top: 5px;
}
