<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Slider -->
  <div class="slider-container">
    <div class="slide" *ngFor="let slide of slides">
      <img [src]="slide.image" alt="Slide Image">
      <h2>{{ slide.title }}</h2>
      <p>{{ slide.description }}</p>
    </div>
  </div>

  <!-- Otros elementos -->
  <div class="other-elements">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Últimas noticias</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Contenido de las últimas noticias...</p>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>
