<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Slider -->
  <div class="slider-container">
    <div class="slide" *ngFor="let slide of slides">
      <img [src]="'assets/images' +  slide.image" alt="Slide Image" style="height: 400px">
      <h2>{{ slide.title }}</h2>
      <p>{{ slide.description }}</p>
    </div>
  </div>

  <!-- Otros elementos -->
  <div class="other-elements">
    <!-- Llamado a la acción -->
    <ion-card>
      <ion-card-content>
        <h2>Llamado a la acción</h2>
        <p>{{ actionCall.text }}</p>
        <a [href]="actionCall.link">¡Únete a la Defensa Civil!</a>
      </ion-card-content>
    </ion-card>

  </div>
</ion-content>

<style>
  ion-card {
    background: #004c98;
    color: white;
  }
  ion-card a {
    color: #ff6a00;
    text-decoration: none;
  }
</style>
